---
const { id, img, titles, name, description, skill, front, back, webSite } =
  Astro.props;
---

<div
  class="flex drop-shadow-lg flex-col sm:flex-row lg:flex-row justify-center w-full h-full bg-gray-50 m-2 rounded-lg"
>
  <div class="w-full sm:w-2/4 lg:w-2/4">
    <img class="h-full rounded-xl" src={img} />
  </div>
  <div class="w-full sm:w-2/4 lg:w-2/4">
    <div class="p-2">
      <h2
        class="text-center text-[30px] uppercase font-black text-gray-800 px-0 py-2"
      >
        {name}
      </h2>
      <p class="leading-[22px] mx-1 text-[18px">
        {description}
      </p>
      <ul class="flex flex-row justify-center">
        {
          skill.map(e => {
            return (
              <li class=" m-3">
                <a href="#">
                  <img src={e} alt="" />
                </a>
              </li>
            );
          })
        }
      </ul>
      <div class="w-full px-6 mt-4 inline-block">
        <a target="_blank" href={front}
          ><button
            type="button"
            class="rounded-xl text-xl font-semibold text-white shadow-sm w-full bg-gray-700 hover:brightness-110"
            >Ver</button
          ></a>
      </div>
      
    </div>
  </div>
</div>
