---
import Card from "./Card.astro";
const projectsList = [
  {
    id: "Tecno Trade",
    img: "https://res.cloudinary.com/dwffcpljq/image/upload/v1694697332/netsublog/u8jfvzvjaiohrhruji0z.jpg",
    titles: "Desarrollo Web",
    name: "Tecno Trade",
    description:
      "Desarrollo de una SPA en grupo de 8 personas, con la metodología de trabajo SCRUM. Una pagina web de venta de tecnologia como computadoras telefonos y mas.",
    skill: [
      "https://api.iconify.design/logos/react.svg?width=34&height=34",
      "https://api.iconify.design/logos/redux.svg?width=34&height=34",
      "https://api.iconify.design/devicon/tailwindcss.svg?width=34&height=34",
      "https://api.iconify.design/logos/sass.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-node.svg?width=34&height=34",
      "https://api.iconify.design/devicon/express.svg?width=34&height=34",
      "https://api.iconify.design/logos/postgresql.svg?width=34&height=34",
    ],
    front: "https://front-wheat-gamma.vercel.app/",
  },
  {
    id: "app food",
    img: "https://res.cloudinary.com/dwffcpljq/image/upload/v1694697400/netsublog/xpslf8pgv6jgkct461e3.png",
    titles: "Desarrollo Web",
    name: "App Food",
    description:
      "App Foods es una SPA (Single Page Application) realizada en el marco académico del Bootcamp SoyHenry. El mismo fue realizado con las tecnologías que vimos en el Bootcamp.",
    skill: [
      "https://api.iconify.design/vscode-icons/file-type-html.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-css.svg?width=34&height=34",
      "https://api.iconify.design/logos/javascript.svg?width=34&height=34",
      "https://api.iconify.design/logos/react.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-node.svg?width=34&height=34",
      "https://api.iconify.design/devicon/express.svg?width=34&height=34",
      "https://api.iconify.design/logos/postgresql.svg?width=34&height=34",
    ],
    front: "https://github.com/Ramon181/api-food-main",
  },
  {
    id: "PokeApp",
    img: "https://res.cloudinary.com/dwffcpljq/image/upload/v1694697407/netsublog/atxfa2elp8p7w1t6j9zo.jpg",
    titles: "Desarrollo Web",
    name: "Poke App",
    description:
      "Pokemon APP Permite al usuario visualizar un listado de pokemones traído directamente de la Api (pokeapi), como también las creadas por cualquier usuario de la app.",
    skill: [
      "https://api.iconify.design/vscode-icons/file-type-html.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-css.svg?width=34&height=34",
      "https://api.iconify.design/logos/javascript.svg?width=34&height=34",
      "https://api.iconify.design/logos/react.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-node.svg?width=34&height=34",
      "https://api.iconify.design/devicon/express.svg?width=34&height=34",
      "https://api.iconify.design/logos/postgresql.svg?width=34&height=34",
    ],
    front: "https://github.com/Ramon181/PI-Pokemon-main",
  },
  {
    id: "tablas european",
    img: "https://res.cloudinary.com/dwffcpljq/image/upload/v1694697527/netsublog/amondio8bt31dwhxen9l.jpg",
    titles: "Desarrollo Web",
    name: "Tablas Europeas",
    description:
      "Esta aplicación web ha sido desarrollada con el propósito de brindar a los aficionados al fútbol la posibilidad de visualizar las tablas de clasificación de las cinco ligas de fútbol más destacadas en Europa.",
    skill: [
      "https://api.iconify.design/vscode-icons/file-type-html.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-css.svg?width=34&height=34",
      "https://api.iconify.design/logos/javascript.svg?width=34&height=34",
      "https://api.iconify.design/logos/python.svg?width=34&height=34",
      "https://api.iconify.design/devicon/flask.svg?width=34&height=34",
      "https://api.iconify.design/logos/mysql.svg?width=34&height=34",
    ],
    front: "https://tables-european.surge.sh/",
  },
  {
    id: "Marvel App",
    img: "https://res.cloudinary.com/dwffcpljq/image/upload/v1694697541/netsublog/xrunyncojivb2xyjycr2.jpg",
    titles: "Desarrollo Web",
    name: "Hero Search",
    description:
      "Hero Search es una aplicación web diseñada para facilitar la búsqueda y el acceso a información detallada sobre los personajes de los cómics de superhéroes.",
    skill: [
      "https://api.iconify.design/vscode-icons/file-type-html.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-css.svg?width=34&height=34",
      "https://api.iconify.design/logos/javascript.svg?width=34&height=34",
      "https://api.iconify.design/devicon/nextjs.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-node.svg?width=34&height=34",
      "https://api.iconify.design/devicon/express.svg?width=34&height=34",
      "https://api.iconify.design/logos/postgresql.svg?width=34&height=34",
    ],
    front: "https://github.com/Ramon181/api-food-main",
    back: "https://github.com/Ramon181/API-FOOD",
    webSite: "https://cooks-great.vercel.app/",
  },
  {
    id: "ClimaNow",
    img: "https://res.cloudinary.com/dwffcpljq/image/upload/v1694697195/netsublog/xvnmeljldd4xzbiarurs.jpg",
    titles: "Desarrollo Web",
    name: "ClimaNow",
    description:
      "ClimaNow es una aplicación web diseñada para ofrecerte información actualizada y detallada sobre las condiciones climáticas en el país que selecciones",
    skill: [
      "https://api.iconify.design/vscode-icons/file-type-html.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-css.svg?width=34&height=34",
      "https://api.iconify.design/logos/javascript.svg?width=34&height=34",
      "https://api.iconify.design/logos/react.svg?width=34&height=34",
    ],
    front: "https://github.com/Ramon181/Wearter-App",
  },
  {
    id: "Gestion De Tiendas",
    img: "https://res.cloudinary.com/dwffcpljq/image/upload/v1694697619/netsublog/epr2nm2cv15pncxwcl4o.jpg",
    titles: "Desarrollo Web",
    name: "Gestion De Tiendas",
    description:
      "Esta aplicación esta desarrollada en PHP utilizando el framework Laravel. El objetivo principal de la aplicación es gestionar la información de tiendas y productos asociados a cada tienda.",
    skill: [
      "https://api.iconify.design/logos/php.svg?width=34&height=34",
      "https://api.iconify.design/logos/laravel.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-html.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-tailwind.svg?width=34&height=34",
      "https://api.iconify.design/logos/mysql.svg?width=34&height=34",
    ],
    front: "https://github.com/Ramon181/project",
  },
  {
    id: "Formulario",
    img: "https://res.cloudinary.com/dwffcpljq/image/upload/v1694697624/netsublog/qgimniusqmgowqvduw2i.jpg",
    titles: "Desarrollo Web",
    name: "Formulario",
    description:
      "Este formulario ha sido diseñado con la finalidad de capturar y almacenar los datos de un usuario en una base de datos.",
    skill: [
      "https://api.iconify.design/logos/javascript.svg?width=34&height=34",
      "https://api.iconify.design/logos/react.svg?width=34&height=34",
      "https://api.iconify.design/vscode-icons/file-type-node.svg?width=34&height=34",
      "https://api.iconify.design/devicon/express.svg?width=34&height=34",
      "https://api.iconify.design/logos/mysql.svg?width=34&height=34",
    ],
    front: "https://github.com/Ramon181/formulario-app",
  },
];
---

<section class="w-full max-w-[2000px] text-center mx-auto my-[3em] z-30">
  <h2
    class="text-center text-[40px] uppercase font-black text-gray-800 px-0 py-5"
  >
    Proyectos
  </h2>
  <div class="flex flex-col justify-center items-center">
    {
      projectsList.map(
        ({
          id,
          img,
          titles,
          name,
          description,
          skill,
          front,
          back,
          webSite,
        }) => {
          return (
            <Card
              id={id}
              img={img}
              titles={titles}
              name={name}
              description={description}
              skill={skill}
              front={front}
              back={back}
              webSite={webSite}
            />
          );
        }
      )
    }
  </div>
</section>

<style>
  .scale-up-hor-right {
    -webkit-animation: scale-up-hor-right 1s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: scale-up-hor-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @-webkit-keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
      transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
  }
  @keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
      transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
  }
</style>
